name: tiwentianbao

on:
  workflow_dispatch:
  schedule:
    - cron: '10 2,3 * * *'
jobs:
  build:

    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-python@v2
    - run:  pip install -r ./r.txt
    - run: python ./zzx.py
    #- run: python ./xkx.py
    - run: python ./xjs.py
    - name: 'Send mail zzx'
      uses: dawidd6/action-send-mail@master
      with:
          # 这些是发送邮件需要配置的参数，更多详细的说明请访问具体的仓库
        server_address: smtp.163.com
        server_port: 465
          # 这些sectret的环境变量需要配置在setting中的secret下
        username: ${{ secrets.EMAILNAME }}
        password: ${{ secrets.EMAILPOP }}
        subject: 每日体温填报
        body: file://zzx.html
        to: ${{ secrets.QQEMAIL }}
        from: GitHub Actions
        content_type: text/html

    - name: 'Send mail xjs'
      uses: dawidd6/action-send-mail@master
      with:
          # 这些是发送邮件需要配置的参数，更多详细的说明请访问具体的仓库
        server_address: smtp.163.com
        server_port: 465
          # 这些sectret的环境变量需要配置在setting中的secret下
        username: ${{ secrets.EMAILNAME }}
        password: ${{ secrets.EMAILPOP }}
        subject: 每日体温填报
        body: file://xjs.html
        to: 903644605@qq.com
        from: GitHub Actions
        content_type: text/html
